---
compress:
  elements:
    - div
    - li
    - meta
    - ol
    - p
    - script
    - table
    - td
    - tr
    - ul
---

{% assign pres = content | split: '<pre' %}{% for pre1 in pres %}{% assign pre2 = pre1 | split: '</pre>' %}{% if pre2.size == 2 %}<pre{{ pre2.first }}</pre>{% endif %}{% assign second = pre2.last | split: ' ' | join: ' ' %}{% for element in page.compress.elements %}{% assign _edge = ' <e,<e' | replace: 'e', element | split: ',' %}{% assign second = second | replace: _edge[0], _edge[1] %}{% assign _edge = ' </e,</e' | replace: 'e', element | split: ',' %}{% assign second = second | replace: _edge[0], _edge[1] %}{% assign _edge = '<e></e>' | replace: 'e', element %}{% assign second = second | remove: _edge %}{% assign _edge = '<e> </e>' | replace: 'e', element %}{% assign second = second | remove: _edge %}{% endfor %}{{ second }}{% endfor %}
