---
layout: compress
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/ui/app.css">
  <link rel="icon" href="/ui/img/favicon-1.png">
  {% if page.prefetch %}
    <link rel="prefetch" href="{{ page.prefetch }}">
    <link rel="prerender" href="{{ page.prefetch }}">
  {% endif %}
</head>
<body>
  <!-- dummy comment -->
  <div class="row">
    <div class="medium-10 medium-offset-2 large-8 large-offset-4 columns">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
</body>
</html>
